/* style.css
 * Page CSS definitions 
 */

:root {
  --main-bg-colour: #eeeeee;
  --text-colour: #7bf;
  --alt-text-colour: #f99;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-family: Catamaran, Avenir, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  background-color: #ffffff;
  background:url(images/wimmera-lowq.jpg) top center no-repeat;
  background-size: auto 120%;
  background-attachment:fixed;
  color: #eeeeee;
}

/* ---------------- */
.header {
  margin: 50px 10pt;
}

.header .title {
  font-family: Catamaran, Avenir, Arial, sans-serif;
  font-weight: lighter;
  font-size: 80pt;
  letter-spacing: 8pt;
  color: #333333;
}

#logo {
  display: none;
  width: 20%;
  float: right;
  border-radius: 4pt;
}

/* ---------------- */
.content {
  display: block;
  margin: 0pt 10pt;
}

a {
  color: #9cf;
  text-decoration: none;
}

#message {
  font-size: 90%; 
  color: #999;
  margin: 5pt 0 10pt 3pt;
  background-color: #333;
  padding: 0 5pt;
  border-radius: 6pt;
  /* width: 60%; */
  max-width: 450px;
}

#trackList {
  margin: 15pt 0pt;
  padding: 6pt 0pt;
}

.box {
  display: flex;
  justify-content: flex-start;
  background-color: #dddddd;
  opacity: 0.7;
  border: 1px dashed #999999;
  border-radius: 8pt;
  margin: 15pt 0pt;
  padding: 5pt 5pt;
}

.box:hover {
  background-color: #fff8ee; 
  opacity: 0.9;
  transition: all;
  transition-duration: 1s;
}

.box-title {
  font-family: Unica One, Catamaran, Avenir, Helvetica, sans-serif;
  font-size: 150%;  
  font-weight: bold;
  color: #666;
  min-width: 80px;
  padding: -10pt 0pt;
}

.box-tracks {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 8pt;
}

/* Track styling */
.track-title {
  font-family: Catamaran, Avenir, Roboto, Arial, sans-serif;
  font-size: 100%;
  color: #333333;
  border-radius: 6pt;
  text-decoration: none;
  display: inline;
  padding: 0pt 4pt;
  margin-left: 1pt;
  cursor: pointer;
}

.track-title:nth-child(even) {
  color: #777777; 
}

.star {
  background-color: #eedddd;
}

.track-title:hover {
  color: #f66; 
  transition: all;
  transition-duration: 1s;
}

#trackPlayer {
  max-width: 500px;
  margin: 20pt 0pt 0pt 0pt; 
  border: 1px dashed #999999;
  border-radius: 8pt;
}

/* ---------------- */
.footer {
  background-color: #bbbbbb;
  opacity: 0.7;
  color: #333;
  font-size: 90%;
  margin: 0pt 10pt;
  padding: 5pt 5pt;
  border-radius: 8px;
}

a {
  color: #555;
}

/* ---------------- */
.plyr {
  background-color: #cccccc;
  opacity: 0.6;
  border-radius: 8px;
}

button {
  border: 1px dashed #cccccc;
  border-radius: 8pt;
  color: #666666;
  background-color: #eeeeee;
  opacity: 0.7;
  font-size: 90%;
  padding: 2pt 12pt;
  margin-right: 8pt;
  cursor: pointer;
}

button:hover {
  color: #f66; 
  transition: all;
  transition-duration: 1s;
}

button.buttonOn {
  color: #536;
  background-color: #f66;
}

/* The End */
